In [1]:
import pandas as pd

f = pd.read_csv('bank.csv')

In [2]:
f

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [3]:
f = f.drop("duration", axis =1)

In [4]:
f

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [5]:
x = f.iloc[:,:-1]
y = f.iloc[:, -1]

In [6]:
x = pd.get_dummies(x, drop_first=True)
y = pd.get_dummies(y, drop_first=True)

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = \
train_test_split(x,y, test_size=0.3, random_state=1234 ,stratify=y)

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
rfc1 = RandomForestClassifier(random_state=1234)

rfc1.fit(x_train, y_train.values.ravel())

y_predict1 = rfc1.predict(x_test)

In [10]:
from sklearn.metrics import confusion_matrix
cm1 = confusion_matrix(y_test, y_predict1)
score1 = rfc1.score(x_test, y_test)

In [11]:
score1

0.8943109168892126

In [12]:
from sklearn.feature_selection import RFE

rfc2 = RandomForestClassifier(random_state = 1234)
rfe = RFE(estimator=rfc2, n_features_to_select=30, step=1)

In [13]:
rfe.fit(x,y.values.ravel())

RFE(estimator=RandomForestClassifier(random_state=1234),
    n_features_to_select=30)

In [14]:
x_train_rfe = rfe.transform(x_train)
x_test_rfe = rfe.transform(x_test)

In [15]:
x_train_rfe

array([[ 29.,   2.,   3., ...,   1.,   0.,   1.],
       [ 49.,   2., 999., ...,   0.,   1.,   0.],
       [ 59.,   2., 999., ...,   0.,   1.,   0.],
       ...,
       [ 32.,   2., 999., ...,   0.,   1.,   0.],
       [ 50.,   3., 999., ...,   0.,   1.,   0.],
       [ 58.,   4., 999., ...,   0.,   1.,   0.]])

In [16]:
x_test_rfe

array([[ 26.,   3., 999., ...,   0.,   1.,   0.],
       [ 72.,   1., 999., ...,   1.,   1.,   0.],
       [ 20.,   1., 999., ...,   1.,   1.,   0.],
       ...,
       [ 32.,   1., 999., ...,   0.,   0.,   0.],
       [ 39.,   2., 999., ...,   0.,   1.,   0.],
       [ 27.,   1., 999., ...,   0.,   1.,   0.]])

In [17]:
rfc2.fit(x_train_rfe, y_train.values.ravel())

RandomForestClassifier(random_state=1234)

In [18]:
y_predict = rfc2.predict(x_test_rfe)

In [19]:
from sklearn.metrics import confusion_matrix

cm_rfe = confusion_matrix(y_test, y_predict)

score_rfe = rfc2.score(x_test_rfe, y_test)

In [20]:
score_rfe

0.8943109168892126

# Get the Columns Names

In [21]:
columns = list(x.columns)

# Get the Ranking of Features

In [22]:
ranking = rfe.ranking_

In [23]:
ranking

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  5, 11,  1,  1,  3,  1,  6,
        1,  8, 16,  1,  1, 20,  4,  1,  1, 22,  1,  1,  2,  1, 23,  7,  1,
       13,  1,  1, 17, 21, 15, 14, 10, 12, 19,  9, 18,  1,  1,  1,  1,  1,
        1])

# Get the Feature Importance Score

In [24]:
feature_importance = rfc1.feature_importances_

In [25]:
feature_importance

array([1.70809903e-01, 8.39670422e-02, 3.09585398e-02, 1.91089531e-02,
       2.20649131e-02, 2.31893481e-02, 2.78846783e-02, 1.21091042e-01,
       6.26615200e-02, 1.40153409e-02, 6.52409605e-03, 5.32901247e-03,
       1.14962225e-02, 7.62594112e-03, 7.65622686e-03, 1.14585079e-02,
       6.14242701e-03, 1.75824848e-02, 5.61703920e-03, 2.60052665e-03,
       2.11730222e-02, 1.76798976e-02, 9.09749915e-04, 7.64070771e-03,
       1.21102433e-02, 1.73136763e-02, 5.71709699e-04, 1.26410579e-02,
       1.78213433e-02, 7.69009624e-03, 1.66857423e-02, 1.39446286e-07,
       3.31006585e-03, 3.89403727e-02, 3.21863249e-03, 2.38703939e-02,
       1.64336689e-02, 2.42264097e-03, 9.09274796e-04, 2.25768711e-03,
       2.98676679e-03, 3.84770285e-03, 4.23807825e-03, 2.12292725e-03,
       5.45740279e-03, 1.87285593e-03, 1.62182135e-02, 1.61434986e-02,
       1.55667196e-02, 1.59937293e-02, 9.71855647e-03, 2.44496615e-02])

# Create the DataFrame of Feature Selected , Ranking and Feature Importance

In [26]:
rfe_selected = pd.DataFrame()

In [27]:
rfe_selected = pd.concat([pd.DataFrame(columns),
                         pd.DataFrame(ranking),
                         pd.DataFrame(feature_importance)] , axis=1)

In [28]:
rfe_selected.columns = ["Feature Name","Ranking","Feature Importance"]

In [29]:
rfe_selected

                     Feature Name  Ranking  Feature Importance
0                             age        1        1.708099e-01
1                        campaign        1        8.396704e-02
2                           pdays        1        3.095854e-02
3                        previous        1        1.910895e-02
4                    emp.var.rate        1        2.206491e-02
5                  cons.price.idx        1        2.318935e-02
6                   cons.conf.idx        1        2.788468e-02
7                       euribor3m        1        1.210910e-01
8                     nr.employed        1        6.266152e-02
9                 job_blue-collar        1        1.401534e-02
10               job_entrepreneur        5        6.524096e-03
11                  job_housemaid       11        5.329012e-03
12                 job_management        1        1.149622e-02
13                    job_retired        1        7.625941e-03
14              job_self-employed        3        7.656227e-03
15                   job_services        1        1.145851e-02
16                    job_student        6        6.142427e-03
17                 job_technician        1        1.758248e-02
18                 job_unemployed        8        5.617039e-03
19                    job_unknown       16        2.600527e-03
20                marital_married        1        2.117302e-02
21                 marital_single        1        1.767990e-02
22                marital_unknown       20        9.097499e-04
23             education_basic.6y        4        7.640708e-03
24             education_basic.9y        1        1.211024e-02
25          education_high.school        1        1.731368e-02
26           education_illiterate       22        5.717097e-04
27  education_professional.course        1        1.264106e-02
28    education_university.degree        1        1.782134e-02
29              education_unknown        2        7.690096e-03
30                default_unknown        1        1.668574e-02
31                    default_yes       23        1.394463e-07
32                housing_unknown        7        3.310066e-03
33                    housing_yes        1        3.894037e-02
34                   loan_unknown       13        3.218632e-03
35                       loan_yes        1        2.387039e-02
36              contact_telephone        1        1.643367e-02
37                      month_aug       17        2.422641e-03
38                      month_dec       21        9.092748e-04
39                      month_jul       15        2.257687e-03
40                      month_jun       14        2.986767e-03
41                      month_mar       10        3.847703e-03
42                      month_may       12        4.238078e-03
43                      month_nov       19        2.122927e-03
44                      month_oct        9        5.457403e-03
45                      month_sep       18        1.872856e-03
46                day_of_week_mon        1        1.621821e-02
47                day_of_week_thu        1        1.614350e-02
48                day_of_week_tue        1        1.556672e-02
49                day_of_week_wed        1        1.599373e-02
50           poutcome_nonexistent        1        9.718556e-03
51               poutcome_success        1        2.444966e-02